.header {
	absolute(0px, 0px);
	width: 100%;
	z-index: 9;
	background: transparent;
	color: $black;

	.layout--mobile & {
		position: relative;
		background: $white;
	}

	a {
		color: inherit;
	}

	&__content {
		flexy(flex-start, flex-start);
		padding: 3rem 0;

		@media $mdHeight {
			padding: vh(48);
		}

		.layout--mobile & {
			justify-content: space-between;
			align-items: center;
			padding: vw(25, 640) 0;
		}
	}

	&__logo {
		flex: 0 0 50%;

		.icon {
			size(9.5rem, 4.5rem);

			@media $mdHeight {
				size(vh(9.5 * 16), vh(4.5 * 16));
			}

			.layout--mobile & {
				size(vw(92, 640), vw(40, 640));
			}
		}
	}

	&__title {
		flex: 0 0 50%;
		padding: 1.5rem 3.25rem;
		font: 1.25rem/1 $font-util;
		letter-spacing: 0.01em;

		@media $mdHeight {
			padding: vh(24);
			font-size: vh(20);
		}

		.layout--mobile & {
			padding: 0;
			font: vw(16, 640) $font-accent;
			text-align: right;
		}
	}
	
}