@import 'vars.styl';
if $use-fonts {
  @import 'fonts.styl';
}
@import './tools/mixins.styl';
if $use-grid {
  @import './grid/gridlex.styl';
  @import './base/hiddens.styl';
}
@import './plugins/plugins.styl';
@import './base/normalize.styl';
@import './base/layout.styl';
if $use-spacing {
  @import './base/spacing.styl';
}
@import './base/typography.styl';
@import './base/icon.styl';
@import './base/animation.styl';
if $use-carousel {
  @import './base/carousels.styl';
}
if $use-modal {
  @import './base/modal.styl';
}

@import './components/header.styl';
@import './components/footer.styl';
@import './components/social.styl';

@import './sections/main.styl'
@import './sections/photos.styl'
@import './sections/products.styl'